* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.logo {
    flex: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.nav-link,
.nav-link1 {
    display: flex;
    list-style: none;
    flex: 2;
}

.nav-link li {
    margin-left: 30px;
}

.nav-link1 {
    margin-left: 80px;
    gap: 20px;
}

.nav-link a,
.nav-link1 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link a:hover,
.nav-link1 a:hover {

    color: #007bff;
}

.icon {
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: center;
}

.icon i {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon i:hover {
    color: #007bff;

}

main {
    height: 450px;
    background-image: url(../asset/th.jpg);
    background-size: cover;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.container {
    position: relative;
}

.text p {
    position: absolute;
    display: block;
    color: white;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-top: 50px;
}

.text2 p {
    position: absolute;
    margin-top: 300px;
    font-size: 10px;
    font-family: Arial, Helvetica sans-serif;
    text-transform: lowercase;
}

.btn {
    position: absolute;
    display: flex;
    margin-top: 350px;
    margin-left: 20px;
    gap: 20px;
}

.btn-homme {
    color: black;
    background-color: white;
    padding: 10px 30px;
    transition: background-color 0.3s;
}

.btn-femme {
    color: black;
    background-color: white;
    padding: 10px 30px;
    transition: background-color 0.3s;
}

.btn-homme:hover {
    background-color: #007bff;
}

.btn-femme:hover {
    background-color: #007bff;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 490px;
    position: absolute;
    background-color: white;
    gap: 20px;
    margin-left: 20px;

}

.image-box {
    position: relative;
    width: 40%;
    border-radius: 10px;
}

.image-box img {
    width: 600px;
    height: 450px;
}

.overlay {
    position: absolute;
    bottom: 150px;
    /* Semi-transparent background */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.overlay h3 {
    font-size: 1.5em;
}

a {
    color: white;
    background-color: transparent;
    padding: 10px 30px;
}

.about {
    position: absolute;
    margin-top: 1000px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 50px;
}

.img_about img {
    max-width: 90%;
    height: 300px;
}

.text_about {
    flex: 1;
    font-size: 20PX;
    letter-spacing: 1px;
}

.text_about h3,
.text_about h2,
.text_about p {
    margin: 0 0 10px;
}

.text_about h3 {
    color: yellow;
    font-family: mv boli;
}

.speak {
    text-align: center;
    position: absolute;
    margin-top: 1400px;
}

.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes égales */
    gap: 20px;
    /* Espace entre les éléments */
    margin-top: 20px;

}

.client {
        padding: 20px;
        border: 1px solid black;
        border-radius: 0;
        /* Coins carrés */
        width: 100%;
        height: 250px;
        /* Assure que les divs sont carrés */
        box-sizing: border-box;
        /* Inclure padding et bordure dans la hauteur */
        overflow: hidden;
        /* Empêcher le débordement du contenu */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.client_img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.client_img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.client_img h3 {
    margin: 0;
}